@use "../util/var" as v;

.vehicle {
  margin: clamp(2rem, 10vw, 4.75rem) auto 0;
  text-align: center;

  @media (min-width: v.$tab) {
    margin-left: 7.5%;
    text-align: left;
  }

  > h5 {
    padding: 0 min(7vw, 2.5rem);
    margin-bottom: clamp(2rem, 9vw, 2.75rem);
    color: white;

    @media (min-width: v.$mobile) {
      text-align: left;
    }

    @media (min-width: v.$tab) {
      padding: 0;
    }

    span {
      color: #ffffff50;
      font-weight: 700;
      padding-right: 0.5em;
    }
  }

  &__imgs {
    &__imgp {
      display: none;
      object-fit: contain;
      background-repeat: no-repeat;
    }

    @media (min-width: v.$tab) {
      &__imgl {
        display: none;
      }

      &__imgp {
        display: block;
      }
    }
  }

  &__info {
    max-width: 450px;
    margin: 0 auto;
    padding: 0 min(7vw, 2.5rem);

    @media (min-width: v.$tab) {
      display: flex;

      max-width: 600px;

      margin: 0;
      padding: 0;
    }

    &--wrapper {
      @media (min-width: v.$tab) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
      }
    }

    &__buttons {
      display: flex;
      justify-content: center;
      margin-block: clamp(2rem, 9vw, 3.5rem) clamp(1.625rem, 7.75vw, 3.5rem);

      @media (min-width: v.$tab) {
        flex-direction: column;

        margin-block: 0;
      }

      &__button {
        display: flex;
        align-items: center;
        justify-content: center;

        width: clamp(2.5rem, 10vw, 3.75rem);
        aspect-ratio: 1;

        color: white;

        margin-inline: 0.75em;

        border-radius: 50%;
        border: solid 1px #ffffff40;

        cursor: pointer;

        @media (min-width: v.$tab) {
          margin-inline: 0;
          margin-block: 0.75em;
        }
      }

      &__button:hover {
        border: solid 1px #ffffff;
      }

      &__button.active_button {
        color: #0b0d17;
        background-color: white;

        border: none;
      }
    }

    &__data {
      margin-bottom: clamp(1.25rem, 6.25vw, 2.5rem);

      @media (min-width: v.$tab) {
        margin-bottom: 0;
        margin-left: clamp(2rem, 5vw, 5rem);
      }

      &__sub {
        font-size: 1rem;
      }

      &__heading {
        font-family: v.$font-bellefair;
        text-transform: uppercase;
        color: #ffffff;
        font-size: clamp(1.5rem, 5.5vw, 3.25rem);
        margin-block: clamp(0.5rem, 2.5vw, 1rem) 1rem;
      }
    }
  }
}
