@use "../util/var" as v;

.people {
  margin: clamp(2rem, 10vw, 4.75rem) auto 0;
  padding: 0 min(7vw, 2.5em);
  text-align: center;

  > h5 {
    color: white;

    span {
      color: #ffffff50;
      font-weight: 700;
      padding-right: 0.5em;
    }

    @media (min-width: v.$mobile) {
      text-align: left;
    }
  }

  &__img {
    width: clamp(11rem, 58vw, 28.5rem);
    margin: clamp(2rem, 8vw, 3.5rem) auto 0;
  }

  &__info {
    padding-top: 2rem;
    border-top: 1px solid #ffffff30;
    max-width: 570px;
    margin: 0 auto;

    &__dots {
      height: 2px;

      &__dot {
        height: 10px;
        width: 10px;
        background-color: #ffffff30;
        border-radius: 50%;
        display: inline-block;
        margin: 0 0.25em;
        cursor: pointer;
      }

      &__dot:hover {
        background-color: #ffffff80;
      }

      .active_dot {
        background-color: white;
      }
    }

    &__data {
      margin-block: 2rem;

      &__position {
        font-family: v.$font-bellefair;
        text-transform: uppercase;
        color: #ffffff80;
      }

      &__name {
        font-family: v.$font-bellefair;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 1.5rem;
        margin: 0.5rem 0 1rem;
      }
    }

    &--wrapper {
      @media (min-width: v.$mobile) {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    @media (min-width: v.$mobile) {
      padding-top: 0;

      display: flex;
      flex-direction: column-reverse;

      border-top: none;

      &__data {
        margin-block: clamp(2rem, 8vw, 3.75rem) 0;

        &__des {
          margin-bottom: clamp(2rem, 8vw, 2.5rem);
        }
      }
    }
  }
}
