// Font family
$font-barlow: "Barlow", sans-serif;
$font-barlow-condensed: "Barlow Condensed", sans-serif;
$font-bellefair: "Bellefair", serif;

// Colors
$color-dark: hsl(230, 35, 7);
$color-light: hsl(231, 77, 90);

// Viewports
$mobile: 375px;
$tab: 760px;
