@use "../util/var" as v;

.header {
  display: flex;
  margin: min(10em, 15vw) auto 0;
  padding: 0 min(7vw, 2.5em);

  text-align: center;
  max-width: 70%;

  @media (max-width: v.$tab) {
    min-height: calc(100vh - 70px - min(10em, 15vw));
    max-width: 450px;
    flex-direction: column;
  }

  &__content {
    @media (min-width: v.$tab) {
      max-width: 40%;
      text-align: left;
    }

    &__heading {
      color: white;
      font-size: clamp(5rem, 10vw, 7rem);
      margin: 0.3em 0;
    }
  }

  > button {
    border: none;
    background: none;
    margin: auto;

    @media (min-width: v.$tab) {
      align-self: flex-end;
      margin: 0 0 0 auto;
    }
  }

  &__explore {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 10rem;
    height: 10rem;

    color: #0b0d17;
    background-color: white;

    border-radius: 5rem;
    font-family: v.$font-bellefair;
    font-size: 1.5rem;

    cursor: pointer;
  }

  &__explore:hover {
    box-shadow: 0 0 0 clamp(2rem, 4vw, 3.25rem) #97979780;
  }
}
