@use "../util/var" as v;

.nav {
  margin: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    width: 2.5rem;
  }

  &__nav a {
    text-decoration: none;
    color: white;
  }

  &__menu {
    display: block;
    position: absolute;
    z-index: 9999;
    background: url(assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    width: 2rem;
    border: 0;
    aspect-ratio: 1;
    right: 1.5rem;
    top: 2.1rem;
  }

  &__list {
    list-style: none;
    font-family: v.$font-barlow-condensed;
    background-color: hsl(0 0% 0% / 0.85);

    @supports (backdrop-filter: blur(1rem)) {
      background-color: hsl(0 0% 100% / 0.1);
      backdrop-filter: blur(1rem);
    }

    &--num {
      font-weight: 700;
    }

    @media (max-width: 375px) {
      flex-direction: column;
      position: fixed;
      inset: 0 0 0 30%;
      padding: min(30vh, 10rem) 2em;
      --gap: 1.5rem;

      transform: translateX(100%);
      transition: transform 350ms ease-out;
    }
  }
}

.translate {
  transform: translateX(0%);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.change {
  background-image: url(assets/shared/icon-close.svg);
}
