@use "../util/var" as v;

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__nav a {
    text-decoration: none;
    color: white;
  }

  &__logo {
    margin: 1.5em 1.5em 0;
    @media (min-width: v.$mobile) {
      margin: 0 0 0 1.5em;
      width: min(8.6vw, 2.5rem);
    }
    width: 2.5rem;
  }

  &__button {
    display: block;
    position: absolute;
    z-index: 9999;
    background: url(assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    width: 2rem;
    border: 0;
    aspect-ratio: 1;
    right: 1.5rem;
    top: 2.1rem;

    @media (min-width: v.$mobile) {
      display: none;
    }
  }

  @media (min-width: v.$tab) {
    &__line {
      width: 100%;
      height: 1px;

      background-color: hsl(231, 77, 90, 0.3);

      transform: translateX(4.5vw);
      z-index: 99;
    }
  }

  &__list {
    padding-inline: 1.5rem;
    --gap: min(4vw, 2rem);

    @media (min-width: v.$mobile) {
      font-size: min(3.5vw, 1rem);
      li {
        padding-block: 1.5rem;
      }
    }

    li:hover {
      border-bottom: solid 2px hsl(0, 0, 100, 0.25);
      @media (max-width: v.$mobile) {
        border-bottom: 0;
        border-right: solid 2px hsl(0, 0, 100, 0.25);
      }
    }

    background-color: hsl(0 0% 0% / 0.85);
    color: white;

    font-family: v.$font-barlow-condensed;

    list-style: none;
    letter-spacing: 1px;

    @supports (backdrop-filter: blur(1rem)) {
      background-color: hsl(0 0% 100% / 0.1);
      @media (min-width: v.$mobile) {
        background-color: hsl(0 0% 100% / 0.05);
      }
      backdrop-filter: blur(1rem);
    }

    &--num {
      font-weight: 700;
      padding-right: 0.5em;
      @media (min-width: v.$mobile) and (max-width: v.$tab) {
        display: none;
      }
    }

    @media (max-width: v.$mobile) {
      flex-direction: column;
      position: fixed;
      inset: 0 0 0 30%;
      --gap: 1.5rem;

      padding: min(30vh, 10rem) 0 min(30vh, 10rem) 2em;

      transform: translateX(100%);
      transition: transform 350ms ease-out;
    }

    @media (min-width: v.$tab) {
      padding-inline-start: min(5vw, 6em);
      padding-inline-end: min(10vw, 12em);
      --gap: min(2.5vw, 3em);
    }
  }

  @media (min-width: v.$tab) {
    margin: 1em 0 0 1.5em;
  }
}

.translate {
  transform: translateX(0%);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.change {
  background-image: url(assets/shared/icon-close.svg);
}

li.active:hover,
.active {
  border-bottom: solid 2px white;
  @media (max-width: v.$mobile) {
    border-bottom: 0;
    border-right: solid 2px white;
  }
}
